IDENTITY_ENVIRONMENT=development
IDENTITY_GRPC_ADDR=:50051
IDENTITY_SHUTDOWN_TIMEOUT=10s
IDENTITY_LOG_LEVEL=DEBUG
IDENTITY_GRPC_REFLECTION=true
IDENTITY_GRPC_READINESS_CHECK_INTERVAL=5s
IDENTITY_GRPC_READINESS_CHECK_TIMEOUT=2s

IDENTITY_POSTGRES_URL=postgres://identity:identity@localhost:5433/identity?sslmode=disable
IDENTITY_POSTGRES_MAX_CONNECTIONS=10
IDENTITY_POSTGRES_MIN_CONNECTIONS=1
IDENTITY_POSTGRES_MAX_CONN_LIFETIME=30m
IDENTITY_POSTGRES_MAX_CONN_IDLE_TIME=5m
IDENTITY_POSTGRES_HEALTH_CHECK_PERIOD=15s
IDENTITY_POSTGRES_CONNECT_TIMEOUT=5s
